/.idea

bin/

charts/**/*.lock
charts/**/*.tgz

infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/terraform.tfstate
infra/**/terraform.tfstate.backup

infra/helm/**/*.lock
infra/helm/**/*.tgz
infra/helm/**/secret.yaml.dec
infra/helm/**/tls.crt
infra/helm/**/tls.key

site/resources/_gen
site/tmp/
