div.nav a {
    text-decoration: none;
}

div.nav a i {
    font-size: 29px;
}

div.nav a i span {
    display: none;
}

div.post .post-date {
    border-left: 2px solid #ccc;
    color: #ccc;
    padding-left: 10px;
}

div.post .post-content {
    margin-top: 28px;
}

div.post .post-footer {
    margin-top: 28px;
    margin-bottom: 28px;
}

.panel-borderless {
    border:none;
    box-shadow:none;
}
