<div id="mjpitz-footer-banner" style="padding:25px 0; margin-top: 50px;">
    <div>
        {% include analytics.html %}

        <script src="/statics/libs/jquery-2.1.4/jquery.min.js"></script>
        <script src="/statics/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </div>
    <div class="text-center">
        <div>Copyright &copy; {{ site.time | date: '%Y' }}</div>
        <div>Mya Jaye Pitzeruse</div>
        <div>All rights reserved</div>
    </div>
</div>