<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <!--<form action="/search">-->
                <!--<div class="form-group">-->
                    <!--<input type="search" class="form-control" placeholder="Search"/>-->
                <!--</div>-->
            <!--</form>-->

            <p style="margin: 20px 0">
                Senior Software Engineer currently working at <a href="https://www.dosh.cash">Dosh</a>.
            </p>

            <p style="margin: 20px 0">
                Previously, I worked at <a href="https://www.indeed.com">Indeed</a>.
                Early in my career, I worked on our <a href="https://www.indeed.com/hire">employer products</a> across the full stack.
                After some time, I worked my way to the backend of our system.
                There, I was able to improve the stability, reliability, and performance of those systems.
                After several years, I took ownership of our distributed services protocol, <a href="https://www.youtube.com/watch?v=E1ok08TVxDw">Boxcar</a>.
                Within a year of working on it, I set Boxcar up so that engineers could easily migrate off of it and onto <a href="https://www.grpc.io">gRPC</a>.
                There were many similarities between Boxcar and gRPC.
                These similarities made it easy to port between the systems.
            </p>

            <div style="padding:20px 20px; text-align: center;">
                <img style="display: inline;" src="/statics/img/2018-10-19.jpg" class="img-responsive img-rounded"/>
            </div>

            <p style="margin: 20px 0">
                <b>Current Languages:</b><br/>
                Java, Golang, TypeScript, NodeJS, Python
            </p>
            <p style="margin: 20px 0">
                <b>Notable Technologies:</b><br/>
                Boxcar, HTTP/2, gRPC, linkerd, RabbitMQ, MySQL, MongoDB, HBase
            </p>

            <p>
                Working out of Austin, TX
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body text-center">
            <div class="nav row" role="navigation">
                <div class="col-xs-2">
                    <a href="http://www.github.com/mjpitz">
                        <i class="fab fa-github" title="GitHub" data-toggle="tooltip" data-placement="bottom">
                            <span>GitHub</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="http://www.twitter.com/_mjpitz_">
                        <i class="fab fa-twitter" title="Twitter" data-toggle="tooltip" data-placement="bottom">
                            <span>Twitter</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="http://www.linkedin.com/in/mjpitz">
                        <i class="fab fa-linkedin" title="LinkedIn" data-toggle="tooltip" data-placement="bottom">
                            <span>LinkedIn</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="https://resumes.indeed.com/resume/4ca3a3918eee0c97">
                        <i class="far fa-file-alt" title="Resume" data-toggle="tooltip" data-placement="bottom">
                            <span>Resume</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="https://www.upwork.com/o/profiles/users/_~012da5a76c04648a88/">
                        <i class="fab fa-hire-a-helper" title="Freelancing" data-toggle="tooltip" data-placement="bottom">
                            <span>Freelancing</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="/feed.xml">
                        <i class="fas fa-rss" title="Feed" data-toggle="tooltip" data-placement="bottom">
                            <span>Feed</span>
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <h4>Pages</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li><a href="/pages/oss">Open Source Contributions</a></li>
                </ul>
            </div>

            <div style="padding-top: 15px">
                <h4>Archive</h4>
                <ul class="nav nav-pills">
                    <li><a href="/archive/2015">2015</a></li>
                    <li><a href="/archive/2016">2016</a></li>
                    <li><a href="/archive/2017">2017</a></li>
                    <li><a href="/archive/2018">2018</a></li>
                </ul>
            </div>

            <div style="padding-top: 15px">
                <h4>Tagged</h4>
                <ul class="nav nav-pills">
                    <li><a href="/archive/tag/docker">docker</a></li>
                    <li><a href="/archive/tag/indeed">indeed</a></li>
                    <li><a href="/archive/tag/spring-bad-practices">spring-bad-practices</a></li>
                    <li><a href="/archive/tag/dosh">dosh</a></li>
                    <li><a href="/archive/tag/aws">aws</a></li>
                    <li><a href="/archive/tag/lambda">lambda</a></li>
                    <li><a href="/archive/tag/serverless">serverless</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
