<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <!--<form action="/search">-->
                <!--<div class="form-group">-->
                    <!--<input type="search" class="form-control" placeholder="Search"/>-->
                <!--</div>-->
            <!--</form>-->

            <p style="margin: 20px 0">
                Hello, my name is Jeremy Pitzeruse and I am a Software Engineer at <a href="http://www.indeed.com">Indeed</a>.
                I specifically focus on our <a href="http://www.indeed.com/hire">employer products</a> and work across the full stack.
            </p>

            <p style="margin: 20px 0">
                Currently working out of Austin.
            </p>

            <div style="padding:20px 80px">
                <img src="/statics/img/pitz.jpg" class="img-responsive img-rounded"/>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div class="nav row" role="navigation">
                <div class="col-xs-2">
                    <a href="http://www.github.com/jpitz">
                        <i class="fa fa-github" title="github" data-toggle="tooltip" data-placement="bottom">
                            <span>github</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="http://www.twitter.com/jrpitzer">
                        <i class="fa fa-twitter" title="twitter" data-toggle="tooltip" data-placement="bottom">
                            <span>twitter</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="http://www.linkedin.com/in/jpitz">
                        <i class="fa fa-linkedin" title="linked in" data-toggle="tooltip" data-placement="bottom">
                            <span>linked in</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2">
                    <a href="http://www.indeed.com/r/Jeremy-Pitzeruse/4ca3a3918eee0c97">
                        <i class="fa fa-file-text" title="resume" data-toggle="tooltip" data-placement="bottom">
                            <span>resume</span>
                        </i>
                    </a>
                </div>

                <div class="col-xs-2"></div>

                <div class="col-xs-2">
                    <a href="/feed.xml">
                        <i class="fa fa-rss" title="rss" data-toggle="tooltip" data-placement="bottom">
                            <span>rss</span>
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <!-- Navigation Content -->
            <h4>Pages</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/">Home</a></li>
                <!--<li><a href="/about">About</a></li>-->
                <!--<li><a href="/contact">Contact</a></li>-->
            </ul>

            <h4>Projects</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="https://github.com/jpitz/laas">LAAS</a></li>
                <li><a href="https://github.com/jpitz/idea-framework">idea-framework</a></li>
            </ul>

            <!--<h4>Archives</h4>-->
            <!--<ul class="nav nav-pills nav-stacked">-->
                <!--<li><a href="/archive/2015">2015</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</div>