<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container text-right">
        <a href="http://www.github.com/jpitz">
            <i class="fa fa-github">
                <span>github</span>
            </i>
        </a>

        <a href="http://www.twitter.com/jrpitzer">
            <i class="fa fa-twitter">
                <span>twitter</span>
            </i>
        </a>

        <a href="http://www.linkedin.com/in/jpitz">
            <i class="fa fa-linkedin">
                <span>linked in</span>
            </i>
        </a>

        <a href="/feed.xml">
            <i class="fa fa-rss">
                <span>rss</span>
            </i>
        </a>
    </div>
</nav>