<div class="text-center">
    <br/>
    <br/>
    <p><i>Share this article on</i></p>

    <div style="font-size: 36px;">
        <a rel="nofollow" target="_blank" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">
            <i class="fab fa-facebook" title="Facebook" data-toggle="tooltip" data-placement="bottom"></i></a>
        &nbsp;
        <a rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}">
            <i class="fab fa-twitter" title="Twitter" data-toggle="tooltip" data-placement="bottom"></i></a>
        &nbsp;
        <a rel="nofollow" target="_blank" href="http://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}">
            <i class="fab fa-linkedin" title="LinkedIn" data-toggle="tooltip" data-placement="bottom"></i></a>
    </div>
</div>
