{{ define "main" }}
<div class="post">
  <p align="center">
    <img style="max-width: 100%" src="/statics/img/banner.png"/>
  </p>

  <h3 align="center">👋 Welcome to my site!</h3>

  <p align="center">
    <img alt="Black Lives Matter" src="https://img.shields.io/badge/-Black%20Lives%20Matter-gray?style=for-the-badge" />
    <a href="https://www.thetrevorproject.org/">
      <img alt="Diversity Makes us Stronger" src="https://img.shields.io/badge/-Diversity%20Makes%20Us%20Stronger-pink?style=for-the-badge&labelColor=silver" /></a>
  </p>

  <h3 align="center">About Me</h3>

  <p align="center">
    My name is Mya. I'm a software engineer who enjoys working with distributed systems.
  </p>

  <p align="center">
    <a href="https://www.google.com/search?q=pronunciation+maya">
      <img alt="Name Pronunciation" src="https://img.shields.io/badge/Pronunciation%20%F0%9F%94%88-mai·uh-silver?style=for-the-badge&labelColor=silver" /></a>
    <a href="https://pronoun.is/she">
      <img alt="Pronouns: she / her" src="https://img.shields.io/badge/Pronouns-she%2Fher-pink?style=for-the-badge&labelColor=silver" /></a>
  </p>

  <p align="center">
    Outside of work, I enjoy playing hockey, taking care of my work-in-progress homestead, and I'm passionate about
    doing more for our environment ♻️. While much of my learning has been confined to my own space, I look forward to
    sharing my knowledge with others.
  </p>
</div>
{{ end }}
