---
layout: default
date: YYYY-MM-DD
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-date">Posted on {{ page.date | date: '%B %d, %Y' }}</p>

    <div class="post-content">
        {{ content }}
    </div>

    <div class="post-footer row">
        <div class="col-sm-6 text-left">
            {% if page.previous %}
                <a class="btn btn-default" href="{{ page.previous.url }}">&laquo; Previous</a>
            {% endif %}
        </div>

        <div class="col-sm-6 text-right">
            {% if page.next %}
            <a class="btn btn-default" href="{{ page.next.url }}">Next &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>