---
layout: default

---
{% if page.tag == '' %}
    <h2>All Tags</h2>

    {% for tagName in site.tags %}
        <p><a href="/tag/{{ tagName[0] }}">{{ tagName[0] }}</a></p>
    {% endfor %}
{% else %}
    <h2>Posts Tagged with '{{ page.tag }}'</h2>

    {% for post in site.posts %}
        {% for tag in post.tags %}
            {% if tag == page.tag %}
                <div>
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <div>
                        <p>{{ post.date | date: '%B %d, %Y' }}</p>
                    </div>

                    <div>
                        {{ post.excerpt }}
                    </div>

                    <p>
                        <a href="{{ post.url }}">Read More &raquo;</a>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}