body {
    font-family: atkinson-hyperlegible !important;
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

li {
    font-size: 1rem;
    line-height: 1.9em;
}

.page-top .nav {
    font-size: 1rem;
}

.page-top .nav li {
    padding-right: 30px;
}

.post .post-title h3 {
    text-transform: none;
}

.sidebar .logo-title .title h3 {
    text-transform: none;
}

.post .post-content img {
    max-width: 640px;
    width: 100%;
}

.post {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
}

.list-with-title {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    font-size: 1rem;
}

@font-face {
    font-family: atkinson-hyperlegible;
    src: url("/statics/font/Atkinson-Hyperlegible-Bold-102a.woff2");
    src: url("/statics/font/Atkinson-Hyperlegible-Bold-102.woff");
    font-weight: bold;
}

@font-face {
    font-family: atkinson-hyperlegible;
    src: url("/statics/font/Atkinson-Hyperlegible-BoldItalic-102a.woff2");
    src: url("/statics/font/Atkinson-Hyperlegible-BoldItalic-102.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: atkinson-hyperlegible;
    src: url("/statics/font/Atkinson-Hyperlegible-Italic-102a.woff2");
    src: url("/statics/font/Atkinson-Hyperlegible-Italic-102.woff");
    font-style: italic;
}

@font-face {
    font-family: atkinson-hyperlegible;
    src: url("/statics/font/Atkinson-Hyperlegible-Regular-102a.woff2");
    src: url("/statics/font/Atkinson-Hyperlegible-Regular-102.woff");
}

.content {
    margin-top: 80px;
}

.hire-package {
    min-width: 200px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
